body {
    background: #0483a5 scroll no-repeat;
    background-size: contain;
    overflow: scroll;
    text-align: center;
  }

h1 {
    color: #f3f5ee;
    font-size: 60px;
    margin: 1px;
}

h2 {
    color: #f3f5ee;
}

p {
  color: #f3f5ee;
  font-size: 30px;
}

i {
  color: #f3f5ee;
  padding: 5px;
}

#icons {
  text-align: right;
}
#releaseinfo {
}

.downloadButton {
    background-color: #fdad2a;
    border: 2px solid #fdad2a;
    border-radius: 5px;
    color: #f3f5ee;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}

.downloadButton:hover {
    box-shadow: 12px 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    /*opacity: 1;*/
}
