body {
    background: #0483a5 scroll no-repeat;
    background-size: contain;
    overflow: scroll;
    text-align: center;
    font-family:futura, "lucida console", sans-serif; /* Schriftart */
    text-size-adjust: auto;
  }

h1 {
    color: #f3f5ee;
    font-size: 50px;
    margin: 1px;
    text-size-adjust: 90%;
}

h2 {
    color: #f3f5ee;
    text-size-adjust: 90%;
}

p {
  color: #f3f5ee;
  font-size: 20px;
  text-size-adjust: 90%;
  text-align: left;
}

i {
  color: #f3f5ee;
  padding: 5px;
}

#youtubeVideo {
  padding: 8px;
}

#bandfoto {
  width: 50%;
  z-index: -1;
  overflow: scroll;
}
#icons {
  text-align: right;
  float: right;
  position: fixed;
  right: 0px;
}
#releaseinfo {
}
#Download {
  padding: 8px;
}
#downloadtext {
  color: #fdad2a;
  font-size: 25px;
  text-align: center;
  text-size-adjust: 90%;
}
.downloadButton {
    background-color: #fdad2a;
    border: 2px solid #fdad2a;
    border-radius: 5px;
    color: #f3f5ee;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}

.downloadButton:hover {
    box-shadow: 12px 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    /*opacity: 1;*/
}
